
.row{
&::after{content: "";display:table;clear:both}
   &--gutters{
   margin-right:-65px
   }
   &--gutters-large{margin-right:-100px}

  &--gutters > div {padding-right:65px;}
   &--gutters-large > div{padding-right:100px;}
   &__margin-b-untill--medium{margin-bottom:1rem}
  
  
   @include breakpoint(sm) {
  &__margin-b-untill--medium{margin-bottom:0}

	&__medium-4--larger{
	width:37%;
	float:left;
	}
	&__medium-6{
	width:50%;
	float:left;
	}
	
    &__medium-8--smaller{
     width:63%;
     float:right
	}
  }
	

}

